*{margin: 0;padding: 0;font-family: "微软雅黑"；}
#mainBox{width: 793px;margin:0 auto;}
#buttonBox{width: 793px;height: 30px;background-color: darkgray;}
#buttonBox button{width: 61px;height: 30px;line-height: 30px;background-color: darkgray;border:1px solid transparent;border-bottom: 1px solid #000;font-size:15px;font-weight: bold;color: white;}
#buttonBox button:hover{background-color: #999;border:1px solid white;border-bottom:none;color:chocolate;}
#imgBox a{float: left;margin-top: 10px;box-shadow: 0 0 5px #ccc;border:1px solid #ccc;padding:5px;margin: 5px;border-radius: 5px;width:240px;position: relative;}
#imgBox a img{width: 240px;margin: 0 auto;display: block;}
#imgBox a span{ display:block; position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.6); color:#fff; top:0px; left:0px; opacity:0;font-size: 20px;}
