*{margin:0;padding: 0;}
html,body{height: 100%;width: 100%;}
body{font-family: "微软雅黑";overflow: hidden;}
a{text-decoration: none;}
#outer{position: absolute;width: 100%;height: 100%;top:0;}
.ring,.communicate{width:100%;height:100%;background: url(material/images/phoneBg.jpg) no-repeat;background-size: cover;position: relative;overflow: hidden;margin:0 auto;}
.chat{width: 100%;height: 100%;background-color: #eaeaea;position: relative;}


.title{font-size: 0.6rem;color:white;text-align: center;margin-top: 0.28rem;margin-bottom:0.1rem;}
.address{font-size: 0.3rem;color: white;text-align: center;margin-bottom:0.1rem;}
#time{font-size: 0.3rem;text-align: center;color: white;}
.phoneBtn{background: url(material/images/phoneBtn.png) no-repeat;background-size: cover;height: 3.6rem;width:5.2rem;position: absolute;bottom:0.3rem;left:0.6rem;}
.phoneKey{background: url(material/images/phoneKey.png) no-repeat;background-size: cover;height: 6.59rem;width: 5.2rem;position: absolute;bottom:0.3rem;left:0.6rem;}
#input{position: absolute;bottom: 0;background: url(material/images/messageText.png) no-repeat;background-size: cover;height: 0.88rem;width: 100%;}

.left,.right{display: inline-block;width: 100%;opacity: 0;}
.right{text-align: right;}
.left>i{background: url(material/images/messageHead1.png);}
.right>i{background: url(material/images/messageHead2.png);}
.left>i,.right>i{height:0.82rem;width: 0.82rem;border-radius: 50%;background-size: cover;display: inline-block;}
.left>span>i{background: url(material/images/messageArrow1.png) no-repeat;height:0.2rem;width: 0.1rem; position: absolute;left: -0.1rem;top: 0.2rem;background-size: cover;}
.right>span>i{background: url(material/images/messageArrow2.png) no-repeat; height:0.2rem;width: 0.1rem;position: absolute;right: -0.1rem;top: 0.2rem;background-size: cover;}
.left span,.right span{font-size: 0.12rem;padding: 0.2rem;border-radius: 5px;position: relative;}
.left span{background-color: white;}
.right span{background-color: #A4E35E;}

#answer{position: absolute;bottom:0.85rem;right: 0.6rem;height: 1.44rem;width: 1.44rem;border:1px solid #4CD864;border-radius: 50%;-webkit-animation-name:'fisheye';-webkit-animation-duration:3s;-webkit-animation-iteration-count:infinite;}
#know{height: 1.35rem;width: 1.34rem;display: block;border-radius: 50%;position: absolute;bottom: 0.7rem;left:2.54rem;}


.cubeBg{height: 100%;width: 100%;background: url(material/images/cubeBg.jpg) no-repeat;background-size: cover;position: relative;}
	.cubeBox{height: 3.5rem;width: 3.5rem;position: relative;transform-origin:left;-webkit-transform-style: preserve-3d;position: absolute;left:50%;top:50%;margin-left:-1.75rem;margin-top:-1.75rem;transform-origin:1.75rem 1.75rem -1.75rem;transform:rotateX(30deg) rotateY(30deg);}
	.cubeBox li{position: absolute;height: 3.5rem;width: 3.5rem;list-style: none;text-align: center;}
	.cubeBox li img{height: 100%;width: 100%;}
	.cubeBox li:nth-of-type(1){left:50%;top:50%;margin-left:-1.75rem;margin-top:-1.75rem;}
	.cubeBox li:nth-of-type(2){left:50%;top:50%;margin-left:-5.25rem;margin-top:-1.75rem;transform-origin:right;transform:rotateY(-90deg);}
	.cubeBox li:nth-of-type(3){left:50%;top:50%;margin-left:-1.75rem;margin-top:-5.25rem;transform-origin:bottom;transform:rotateX(90deg);}
	.cubeBox li:nth-of-type(4){left:50%;top:50%;margin-left:1.75rem;margin-top:-1.75rem;transform-origin:left;transform:rotateY(90deg);}
	.cubeBox li:nth-of-type(5){left:50%;top:50%;margin-left:-1.75rem;margin-top:1.75rem;transform-origin:top;transform:rotateX(-90deg);}
	.cubeBox li:nth-of-type(6){left:50%;top:50%;margin-left:-1.75rem;margin-top:-1.75rem;transform-origin:center;transform:rotate(180deg);transform:translateZ(-3.5rem);}



@-webkit-keyframes 'fisheye'{
	0%{-webkit-transform:scale(1);}
	50%{-webkit-transform:scale(1.3);}
	100%{-webkit-transform:scale(1);}
}